@import 'tailwindcss';

:root {
  --a-black: #1d1d1d;
  --a-white: #fffdf8;
  --background: #fffdf8;
  --foreground: #1d1d1d;
}

@theme {
  --font-melodrama: var(--font-melodrama);
  --font-pencerio: var(--font-pencerio);
  --font-supreme: var(--font-supreme);

  --color-a-black: var(--a-black);
  --color-a-white: var(--a-white);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1d1d1d;
    --foreground: #fffdf8;
  }
} */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-supreme);
}
